<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/_header.html' %}

    {% block head %}{% endblock %}

    {% block styles %}{% endblock %}

    {% include 'includes/_javascript.html' %}

    {% block javascript %}{% endblock %}
</head>

<body>
	<wrapper class="d-flex flex-column">
    	{% include 'includes/_navbar.html' %}
	    <main class="flex-fill">
	    	<div class="container pull-left">
	    			{% block body %}{% endblock %}
	    	</div>{# <!-- ./container for content --> #}
		</main>    
    	{% include 'includes/_footer.html' %}
    </wrapper>
</body>
</html>

