/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */
body, wrapper {
   min-height:100vh;
   padding-top:2rem;
}
@media (min-width:992px) {
    body {
        padding-top:2rem;
    }
}
body {
  font-size: larger;
}
.flex-fill {
   flex: 1 1 auto;
}

.card {
    height:100%;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:50px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
a.disabled {
    color: gray;
    pointer-events: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
}

.pb-5, .py-5 {
    padding-top: 1rem !important;
}
.pb-5, .py-5 {
    padding-bottom: 1rem !important;
}

.container.footer.navbar-fixed-bottom {
    min-width: 100%;
}

.container.pull-left {
    margin-left: 1rem !important; 
    min-width:75%;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #343a40 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}
p.tabpanel-text {
    margin-left: 1rem;
}
h4.tabpanel-text {
    margin-left: 0.8rem;
}
h5.tabpanel-text {
    margin-left: 1rem;
}
h6.tabpanel-text {
    margin-left: 1rem;
}   
a.btn.btn-primary.btn-block.text-center {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}
header.jumbotron.my-3 {
    padding: 1.5rem 2rem;
}
i.fa.fa-angle-left {
    color: #007bff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2em;
}
i.fa.fa-angle-right {
    color: #007bff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2em;
}
i.fa.fa-expand {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2em;
}
button.btn.btn.btn-primary{
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}