<footer class="py-5 bg-dark">
    <!-- <div class="container"> -->
    <div class="container footer navbar-fixed-bottom"><!-- sticky footer? -->
    	<p class="m-0 text-center text-white">All original content on this Website is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a> by D. Keenan, M. Kesper,  A. Grehan and M. Kavanagh.</p>
    	<p class="m-0 text-center text-white">All copyrights to third-party content are retained by their original owners.</p>
  </div>
</footer>