<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">First Flask App on PythonAnywhere > {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lessons</a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-1">1: Components of a Web application</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-2">2: Web frameworks and Flask</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-3">3: Installing Python and packages</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-4">4: Creating your development environment</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-5">5: Building your first local Flask app</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-6">6: Running your first Flask app</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-7">7: Web application deployment</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/lesson-8">8: Deploying to PythonAnywhere</a>
          </li>
        </ul>
      </li>
      

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="dropdown-item">
            <a class="dropdown-item" href="/faq">FAQ</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/glossary">Glossary</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/map">Sitemap</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/pdf">Print PDF</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/resources">Useful resources</a>
          </li>
          <li class="dropdown-item">
            <a class="dropdown-item" href="/references">References</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>