{% extends 'layouts/main.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="1row">
    <h1 class="display-5">Frequently Asked Questions</h1>
    <p>Common questions you may have about aspects of our course are answered here. If you need additional help and support, please check our <a href="/glossary">Glossary of Terms</a>.</p>
<div>
<hr>
<div class="container">
    <dl>
        <dt>Who is the course for?</dt>
        <dd>The course is for people with some experience with writing computer programming code in a computer programming language other than Python, who want to learn how to create their first Web application using the Flask Web framework. If you do not have previous experience writing code you may find the course challenging, but you are welcome to follow the course.</dd>

        <dt>What are Web applications, Python, Flask and PythonAnywhere?</dt>
        <dd>Web applications, Python, Flask, PythonAnywhere and other terms used throughout the course are explained in our <a href="/glossary">Glossary of terms</a> (also accessible from the top ‘Help’ menu).</dd>

        <dt>Is the course for Windows, MAC or Linux users?</dt>
        <dd>The course is for Windows users. MAC and Linux users are welcome to follow the course. However, the course instructions relate specifically to the Windows operating system (e.g. installing software, managing files and using command prompt). The Python computer programming code within the course is generic and not specific to any particular operating system. MAC and Linux users who choose to take the course are advised that they will need to modify the instructions to suit their specific operating system.</dd>

        <dt>What Web browser do I need for the course?</dt>
        <dd>We recommend using the <a href="//www.google.com/chrome/index.html">Google Chrome Web browser</a>. Your Web browser should also have the <a href="//get.adobe.com/flashplayer/">Adobe Flash Player Plug-in</a> installed (this is pre-installed in Chrome). To display the course content correctly, enable third-party cookies and disable pop-up or ad-blocking software in your Web browser.</dd>

        <dt>How long does the course take to complete?</dt>
        <dd>The lessons are self-directed. The quiz and practical assignment tasks are self-assessed. This means you can work at your own pace through the course, stopping and resuming as you need to.</dd>

        <dt>What will I learn?</dt>
        <dl>The course provides you with the information and practical experience you need to build a simple Flask Web application in the Python computer programming language. See the tabbed section on our <a href="/">homepage</a> for an overview of the topics covered in each unit and lesson.</dl>

        <dt>How will I learn?</dt>
        <dd>The course is divided into four parts (&quot;units&quot;). There are two lessons in each unit. You can view each lesson in your Web browser. There are assessment tasks for you to complete, in each lesson. The tabbed section on our <a href="/">homepage</a> lists the topics and assignment tasks in each lesson.</dd>

        <dt>How is the course assessed?</dt>
        <dl>Lessons contain interactive quizzes, practical assignment tasks or both. All quizzes and assignment tasks are self-assessed. See the tabbed section on our <a href="/">homepage</a> for an overview of the assignment tasks in each lesson.</dl>

        <dt>Do I have to complete all the lessons?</dt>
        <dd>The lessons are sequential. But, you can start the lessons in any order. You can jump between lessons and complete as many or as few lessons as you like.</dd>

        <dt>What happens if I do not pass a quiz or assignment task?</dt>
        <dd>The quizzes and assignment tasks are self-assessed. You can repeat an assignment task an unlimited number of times. But, please ensure you understand the assignment content fully. Complete the necessary steps yourself, before you continue to the next lesson.</dd>

        <dt>A pop-up window appears when I start a quiz and asks me to register or sign in. Do I need to register or sign in?</dt>
        <dd>No registration or sign in is required. Select a screen area outside the pop-up window and it will disappear.</dd>

        <dt>Why are the quizzes blank?</dt>
        <dd>The quizzes are hosted with a third-party (<a href="//www.goconqr.com/">GoConqr</a>). To display the quizzes correctly, enable third-party cookies and disable pop-up or ad-blocking software in your Web browser.</dd>

        <dt>Why are the lesson pages empty?</dt>
        <dd>Our lessons are hosted with a third-party (<a href="//www.slides.com">Slides.com</a>). Your Web browser should have the <a href="//get.adobe.com/flashplayer/">Adobe Flash Player Plug-in</a> installed. We recommend using the <a href="//www.google.com/chrome/index.html">Google Chrome Web browser</a>. To display the lessons correctly, enable third-party cookies and disable pop-up or ad-blocking software in your Web browser.</dd>

        <dt>How do I download a PDF version of the lessons to print or view offline?</dt>
        <dd>You can download PDF versions of each lesson from our <a href="/pdf">PDF page</a> (also accessible from the top &quot;Help&quot; menu).</dd>

        <dt>Will I need to pay for a PythonAnywhere account?</dt>
        <dd>No, the basic PythonAnywhere account is free. Only advanced features of PythonAnywhere require a paid subscription. A free, basic PythonAnywhere account is sufficient to complete the course.</dd>

        <dt>Can I use Flask for free and without a license?</dt>
        <dd>Flask is free of charge. Flask is licensed under a <a href="//opensource.org/licenses/BSD-3-Clause">3-claused DSB</a>, open-source license. You are free to use Flask, as long as you do not alter the BSD copyright and license notices included with Flask.</dd>

        <dt>Will I be a professional Python developer when I complete the course?</dt>
        <dd>No. But, you will have taken your first step towards becoming one. If you complete the course you will have written your first Web application using Python and Flask. You will also have learned how to host your Web application with PythonAnywhere. These kinds of skills will be useful to you in your future development work.</dd>

        <dt>Where can I find out more about Python and programming?</dt>
        <dd>Visit our <a href="/resources">useful resources</a> section for more information about Python and programming (also available under the (&quot;Help&quot;, from the top menu).</dd>

        <dt>How can I host a copy of your course on my own server or computer?</dt>
        <dd>You can find the source-code and instructions for installing a copy of our course on <a href="//gitlab.com/mkavana/TW5222-Wireframe">GitLab</a>.</dd>

        <dt>How can I remove my content from your site?</dt>
        <dd>Our site implements an active take down policy.  Email us to remove your content <a href="mailto:firstflaskapp@gmx.com" target="_blank"><span class="fa fa-envelope"></span></a>.</dd>
    </dl>
</div>
{% endblock %}