{% extends 'layouts/main.html' %}

{% block body %}
<!-- Jumbotron Header -->
<header class="jumbotron my-3">
  <h1 class="display-5">First Flask App on PythonAnywhere</h1>
  <p>Ever wanted to build a Website? Our course is a great way for you to learn how to create your first Flask Web Application ("app") in Python and host your app online with PythonAnywhere. The course is divided into four units (A, B, C and D). Each unit has two lessons. The lessons contain self-assessment tasks, practical assignments and useful resources to guide you through building your first Flask Web app. An overview of each lesson is provided below. Use the top menu to access our lesson content and additional supports (listed under "help")</a>. We hope you enjoy learning about Python, Flask and PythonAnywhere!</p>
</header>
<!-- Page Features -->
<h3>An overview of each unit and lesson</h3>
<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified tabs-4" role="tablist">
    <li class="nav-item">
        <a class="nav-link active text-left" data-toggle="tab" href="#panel1" role="tab">Unit A: Introduction to Web applications and frameworks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left" data-toggle="tab" href="#panel2" role="tab">Unit B: Preparing your computer for Web application development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left" data-toggle="tab" href="#panel3" role="tab">Unit C: Developing your Flask Web application</a>
    </li>
        <li class="nav-item">
        <a class="nav-link text-left" data-toggle="tab" href="#panel4" role="tab">Unit D: Deploying your first Flask Web application</a>
    </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card">
    <!--Panel 1-->
    <div class="tab-pane active" id="panel1" role="tabpanel">
        <div class="container">
            <!-- intro row panel 1 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 1: Components of a Web application</h4>
                    <p class="tabpanel-text">In Lesson 1 you learn how different technologies interact to make a Web application work. The lesson provides you with knowledge of the technologies your first Flask Web application will use.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 2. Web frameworks and Flask</h4>
                    <p class="tabpanel-text">Lesson 2 introduces you to Web frameworks (generally) and the Flask Web framework (specifically). Knowing what Web frameworks are, how and why Web application Developers use them, helps you understand how Flask makes building Web applications easier.</p>
                </div>
            </div>
            <!-- ./ intro row panel 1 -->
            <!-- topics row panel 1 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 1 topics:</h5>
                    <ul>
                        <li>features of local and remote computer resources</li>
                        <li>definition of a Web application</li>
                        <li>three parts of a URL</li>
                        <li>characteristics of a HTTP request</li>
                        <li>static and dynamic Web content</li>
                        <li>role and components of a Web application</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 2 topics:</h5>
                    <ul>
                        <li>definition of a Web framework</li>
                        <li>benefits of using Web frameworks</li>
                        <li>features of a Web framework</li>
                        <li>overview of the Flask Web framework</li>
                    </ul>
                </div>
            </div>
            <!-- ./ intro row panel 1 -->
            <!-- assignments row panel 1-->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 1 assignment tasks:</h5>
                    <ul>
                        <li>Web applications quiz</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 2 assignment tasks:</h5>
                    <ul>
                        <li>Web frameworks quiz</li>
                    </ul>
                </div>
            </div>
            <!-- ./ assignments row panel 1 -->
            <!-- buttons row -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-1" class="btn btn-primary btn-block text-center">Begin Lesson 1: Components of a Web application</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-2" class="btn btn-primary btn-block text-center" >Begin Lesson 2: Web frameworks and Flask</a>
                </div>
            </div>
            <br>
            <!-- ./ buttons row panel 1 -->
        </div>
    </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade" id="panel2" role="tabpanel">
        <div class="container">
            <!-- intro row panel 2 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 3: Installing Python and packages</h4>
                    <p class="tabpanel-text">In Lesson 3 you start applying what you learned about Web applications and Web frameworks from Lessons 1 and 2. In Lesson 3 you learn about the Python computer programming language and how to extend its basic features using the "pip" package management tool. You begin preparing your computer for building your first Flask Web application by installing Python.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 4: Creating a development environment</h4>
                    <p class="tabpanel-text">In Lesson 4 you learn how to set up your first Flask Web application development project. Lesson 4 explains how Web application development projects are structured and the tools required for managing them. You also create directories for your Web application files and install software to manage your project.</p>
                </div>
            </div>
            <!-- ./ intro row panel 2 -->
            <!-- topics row panel 2 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 3 topics:</h5>
                    <ul>
                        <li>introduction to Python</li>
                        <li>managing Python packages with pip</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 4 topics:</h5>
                    <ul>
                        <li>overview of development environments</li>
                        <li>how to structure development project directories and files</li>
                        <li>introduction to virtual environments</li>
                        <li>advantages of developing in virtual environments</li>
                    </ul>
                </div>
            </div>
            <!-- ./ intro row panel 2 -->
            <!-- assignments row panel 2-->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 3 assignment tasks:</h5>
                    <ul>
                        <li>download Python version 3 to your computer</li>
                        <li>install Python on your computer</li>
                        <li>Python quiz</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 4 assignment tasks:</h5>
                    <ul>
                        <li>set up directories and files for your first Flask Web application</li>
                        <li>install the "virtualenv" and "Flask" packages for Python</li>
                        <li>create, activate and test a new virtual environment</li>
                    </ul>
                </div>
            </div>
            <!-- ./ assignments row panel 2 -->
            <!-- buttons row -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-3" class="btn btn-primary btn-block text-center">Begin Lesson 3: Installing Python and packages</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-4" class="btn btn-primary btn-block text-center">Begin Lesson 4: Creating your development environment</a>
                </div>
            </div>
            <br>
            <!-- ./ buttons row panel 2 -->
        </div>
    </div>
    <!--/.Panel 2-->
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
        <div class="container">
            <!-- intro row panel 3 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 5: Building your first local Flask app</h4>
                    <p class="tabpanel-text">Lesson 5 explains the Python computer programming code required to build your first Flask Web application. Lesson 5 guides you through writing the Python code into a file, using a text editor, so your first Flask Web application is ready to run.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 6: Running your first Flask app</h4>
                    <p class="tabpanel-text">In Lesson 6 you learn how the Python interpreter behaves when you run a Python file.Lesson 6 explains the limitations of Python’s built-in Web server and covers the commands to start, stop, restart your Flask Web application using command prompt. You practice the commands and verify your Web application with a Web browser.</p>
                </div>
            </div>
            <!-- ./ intro row panel 3 -->
            <!-- topics row panel 3 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 5 topics:</h5>
                    <ul>
                        <li>components of a Flask Web application</li>
                        <li>import statements</li>
                        <li>Flask constructor and decorators</li>
                        <li>functions</li>
                        <li>ways of writing Python code</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 6 topics:</h5>
                    <ul>
                        <li>how Python interprets files</li>
                        <li>limitations of Flask's, built-in Web server</li>
                    </ul>
                </div>
            </div>
            <!-- ./ intro row panel 3 -->
            <!-- assignments row panel 3-->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 5 assignment tasks:</h5>
                    <ul>
                        <li>download and install the Notepad++ text editor</li>
                        <li>write and save Python code to a file for your first Flask Web application</li>
                        <li>Flask code quiz</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 6 assignment tasks:</h5>
                    <ul>
                        <li>use command prompt to start and stop your Flask Web application</li>
                        <li>access your Flask Web application from a Web browser</li>
                        <li>deactivate your virtual environment</li>
                        <li>running Flask quiz</li>
                    </ul>
                </div>
            </div>
            <!-- ./ assignments row panel 3 -->
            <!-- buttons row -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-5" class="btn btn-primary btn-block text-center">Begin Lesson 5: Building your first local Flask app</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-6" class="btn btn-primary btn-block text-center">Begin Lesson 6: Running your first Flask app</a>
                </div>
            </div>
             <br>
            <!-- ./ buttons row panel 3 -->
        </div>
    </div>
    <!--/.Panel 3-->
    <!--Panel 4-->
    <div class="tab-pane fade" id="panel4" role="tabpanel">
        <div class="container">
            <!-- intro row panel 4 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 7: Web application deployment</h4>
                    <p class="tabpanel-text">In Lesson 7 you learn what Web application deployment is and why it is necessary. You also learn about the different ways that Developers make their Web applications available to end-users.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h4 class="tabpanel-text">Lesson 8: Deploying to PythonAnywhere</h4>
                    <p class="tabpanel-text">Lesson 8 introduces you to the PythonAnywhere service and its features. You also learn how create an online Flask Web application with PythonAnywhere. Lesson 8 also provides a practical guide to migrating your Flask Web application from your computer to PythonAnywhere.</p>
                </div>
            </div>
            <!-- ./ intro row panel 4 -->
            <!-- topics row panel 4 -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 7 topics:</h5>
                    <ul>
                        <li>definition of Web application deployment</li>
                        <li>reasons for deploying Web applications</li>
                        <li>approaches to hosting production environments</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 8 topics:</h5>
                    <ul>
                        <li>overview of the PythonAnywhere service</li>
                        <li>features of PythonAnywhere</li>
                    </ul>
                </div>
            </div>
            <!-- ./ intro row panel 4 -->
            <!-- assignments row panel 4-->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 7 assignment tasks:</h5>
                    <ul>
                        <li>deployment quiz</li>
                    </ul>  
                </div>
                <div class="col-xs-12 col-sm-6">
                    <br>
                    <h5 class="tabpanel-text">Lesson 8 assignment tasks:</h5>
                    <ul>
                        <li>complete the new user account procedure on the PythonAnywhere Website</li>
                        <li>build an online Flask Web application with PythonAnywhere</li>
                        <li>create a new ZIP file from your local Flask Web application files</li>
                        <li>upload and extract your ZIP file to PythonAnywhere’s file-system</li>
                        <li>extract your ZIP file to PythonAnywhere’s file-system</li>
                        <li>configure and run your online, PythonAnywhere Flask Web application</li>
                        <li>verify your Flask Web application's deployment</li>
                    </ul>
                </div>
            </div>
            <!-- ./ assignments row panel 4 -->
            <!-- buttons row -->
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-7" class="btn btn-primary btn-block text-center">Begin Lesson 7: Web application deployment</a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="/lesson-8" class="btn btn-primary btn-block text-center">Begin Lesson 8: Deploying to PythonAnywhere</a>
                </div>
            </div>
            <!-- ./ buttons row panel 4 -->
             <br>
        </div>
    </div>
    <!--/.Panel 4-->
</div>
<!--/. Tab panels -->
{% endblock %}
