{% extends 'layouts/main.html' %}

{% block body %}
<!-- Page Features -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//slides.com/testymctestytest/lesson-5/embed?style=dark" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% endblock %}