{% extends 'layouts/main.html' %}

{% block body %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//slides.com/testymctestytest/lesson-7/embed?style=dark" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

{% endblock %}