{% extends 'layouts/main.html' %}

{% block styles %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(window).on('load',function(){
		$('#modal').modal('show');
	});
</script>
{% endblock %}

{% block body %}
<!-- Page Features -->
<!-- modal -->
<div id="modal" class="modal fade" role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Lesson navigation tips</h4>
			</div>
			<div class="modal-body">
				<p>Use the <i class="fa fa-angle-left" title="Left";></i> and <i class="fa fa-angle-right" title="Right"></i> arrows to move backwards and forwards through the screens in a lesson.</p>
				<p>Turn full-screen mode on and off with the <i class="fa fa-expand" title="Fullscreen"></i> icon.</p>
				<p>During a quiz, select the <img src="{{ url_for('static', filename='images/next.png') }}" class="img-fluid" alt="Next image"> button (inside the quiz window) for the next question.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- ./modal -->
<!-- slides -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src=//slides.com/testymctestytest/lesson-1/embed?style=dark" scrolling="no" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<!-- ./slides -->
<!-- ./page features -->
{% endblock %}