{% extends 'layouts/main.html' %}

{% block body %}
<h1 class="display-5">Sitemap</h1>
<hr>
<div class="row container">
	<div class="sitemap">
		<ul>
			<li><a href="/">Home</a></li>
			<li>
				<p>Lessons</p>
				<ul>
					<li><a href="/lesson-1">1. Components of a Web application</a></li>
					<li><a href="/lesson-2">2. Web frameworks and Flask</a></li>
					<li><a href="/lesson-3">3. Installing Python and packages</a></li>
					<li><a href="/lesson-4">4. Creating your development environment</a></li>
					<li><a href="/lesson-5">5. Building your first local Flask app</a></li>
					<li><a href="/lesson-6">6. Running your first Flask app</a></li>
					<li><a href="/lesson-7">7. Web application deployment</a></li>
					<li><a href="/lesson-8">8. Deploying to PythonAnywhere</a></li>
				</ul>
			</li>
			<li>
				<p>Help</p>
				<ul>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/glossary">Glossary</a></li>
					<li><a href="/map">Sitemap</a></li>
					<li><a href="/pdf">Print PDF</a></li>
					<li><a href="/resources">Useful resoruces</a></li>
					<li><a href="/references">References</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}