{% extends 'layouts/main.html' %}

{% block body %}

<h1 class="display-5">Printable lesson PDF files</h1>
<hr>
<p>
	Select a lesson to download a printable PDF</a>.
</p>

<div class="row container">
	<div class="sitemap">
	<ol>
		<li><a href="/pdf/lesson-1">Components of a Web application</a></li>
		<li><a href="/pdf/lesson-2">Web frameworks and Flask</a></li>
		<li><a href="/pdf/lesson-3">Installing Python and packages</a></li>
		<li><a href="/pdf/lesson-4">Creating your development environment</a></li>
		<li><a href="/pdf/lesson-5">Building your first local Flask app</a></li>
		<li><a href="/pdf/lesson-6">Running your first Flask app</a></li>
		<li><a href="/pdf/lesson-7">Web application deployment</a></li>
		<li><a href="/pdf/lesson-8">Deploying to PythonAnywhere</a></li>
	</ol>
</div>

{% endblock %}