{% extends 'layouts/main.html' %}

{% block body %}
<h1 class="display-5">References</h1>
<hr>
<div class="container">
    <p class="tabpanel-text">Chandra, R. and Varanasi, B. (2015) <em>Python requests essentials</em>, Birmingham: Packt Publishing.</p>
    <p class="tabpanel-text">Eby, P. (2003) <em>Python Web server gateway interface v1.0</em>, available: <a href="https://www.python.org/dev/peps/pep-0333/">https://www.python.org/dev/peps/pep-0333/</a> [accessed 29 Mar 2018].</p>
    <p class="tabpanel-text">IBM (2018) &lsquo;What is cloud computing?&rsquo;, <em>IBM Cloud</em>, available: <a href="https://www.ibm.com/cloud/learn/what-is-cloud-computing">https://www.ibm.com/cloud/learn/what-is-cloud-computing</a> [accessed 12 Apr 018].</p>
    <p class="tabpanel-text">Makai, M. (2018) &lsquo;Deployment&rsquo;, <em>Full stack Python</em>, available: <a href="https://www.fullstackpython.com/deployment.html">https://www.fullstackpython.com/deployment.html</a> [accessed 12 Apr 2018].</p>
    <p class="tabpanel-text">Mening, R. (2014) &lsquo;Web hosting explained: Shared vs. Cloud vs. Dedicated vs. VPS&rsquo;, <em>Website Setup</em>, 11 Dec, available: <a href="https://websitesetup.org/what-is-web-hosting/">https://websitesetup.org/what-is-web-hosting/</a> [accessed 14 Apr 2018].</p>
    <p class="tabpanel-text">Microsoft (2006) &lsquo;Web Application deployment&rsquo;, <em>Using Visual InterDev</em>, 7 Dec, available: <a href="https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-6.0/aa233160(v=vs.60)">https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-6.0/aa233160(v=vs.60)</a> [accessed 12 Apr 2018].</p>
    <p class="tabpanel-text">Microsoft (2016) &lsquo;Zip and unzip files&rsquo;, <em>Microsoft support</em>, 31 Aug, available: <a href="https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files">https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files</a> [accessed 9 Apr 2018].</p>
    <p class="tabpanel-text">Programiz (2018) &lsquo;Python package&rsquo;, <em>Python tutorial</em> , available: <a href="https://www.programiz.com/python-programming/package">https://www.programiz.com/python-programming/package</a> [accessed 21 Apr 2018].</p>
    <p class="tabpanel-text">Python Packaging Authority (2018) &lsquo;Pip user guide&rsquo;, <em>Pip 10.0.1 documentation</em>, available: <a href="https://pip.pypa.io/en/stable/user_guide/">https://pip.pypa.io/en/stable/user_guide/</a> [accessed 20 Apr 2018].</p>
    <p class="tabpanel-text">PythonAnywhere (2013) &lsquo;PythonAnywhere in one minute&rsquo;, <em>PythonAnywhere: the perfect place to code, host and run your Python code in the cloud</em> [video], available: <a href="https://youtu.be/NH2PhXYvrWs">https://youtu.be/NH2PhXYvrWs</a> [accessed 9 Apr 2018].</p>
    <p class="tabpanel-text">PythonAnywhere (2018) &lsquo;The PythonAnywhere help pages&rsquo;, <em>PythonAnywhere</em>, available: <a href="https://help.pythonanywhere.com/pages/">https://help.pythonanywhere.com/pages/</a> [accessed 9 Apr 2018].</p>
    <p class="tabpanel-text">Reitz, K. and Schlusser, T. (2016a) <em>The hitchhiker&rsquo;s guide to Python: best practices for development</em>, Sebastopol: O&rsquo;Reilly Media, Inc.</p>
    <p class="tabpanel-text">Reitz, K. and Schlusser, T. (2016b) <em>The hitchhiker&rsquo;s guide to Python!</em>, available: <a href="http://docs.python-guide.org/en/latest/">http://docs.python-guide.org/en/latest/</a> [accessed 29 Mar 2018].</p>
    <p class="tabpanel-text">Ronacher, A. (2018a) <em>Flask: Web development, one drop at a time</em>, available: <a href="http://flask.pocoo.org/">http://flask.pocoo.org/</a> [accessed 1 Apr 2018].</p>
    <p class="tabpanel-text">Ronacher, A. (2018b) &lsquo;Deployment options&rsquo;, <em>Flask documentation</em>, available: <a href="http://flask.pocoo.org/docs/0.12/deploying/">http://flask.pocoo.org/docs/0.12/deploying/</a> [accessed 1 Apr 2018].</p>
    <p class="tabpanel-text">Spivak, R. (2015) &lsquo;Let&rsquo;s build a Web server, part 1&rsquo;, <em>Ruslan&rsquo;s blog</em> , 9 Mar, available: <a href="https://ruslanspivak.com/lsbaws-part1/">https://ruslanspivak.com/lsbaws-part1/</a> [accessed 25 Mar 2018].</p>
    <p class="tabpanel-text">Stevens, J. (2006) &lsquo;Different types of web hosting: Shared, Dedicated, VPS and Cloud hosting explained&rsquo;, <em>Hosting Facts</em>, 1 Jan, available: <a href="https://hostingfacts.com/different-types-of-web-hosting/">https://hostingfacts.com/different-types-of-web-hosting/</a> [accessed 13 Apr 2018].</p>
    <p class="tabpanel-text">Techopedia (2018) &lsquo;Web-based application&rsquo;, <em>Techpedia dictionary</em>, available: <a href="https://www.techopedia.com/definition/26002/web-based-application">https://www.techopedia.com/definition/26002/web-based-application</a> [accessed 1 Apr 2018].</p>
    <p class="tabpanel-text">Techopedia (2018) 'Platform as a Service (PaaS)', <em>Techopedia dictionary</em>, available: <a href="https://www.techopedia.com/definition/147/platform-as-a-service-paas">https://www.techopedia.com/definition/147/platform-as-a-service-paas</a> [accessed 9 Apr 2018].</p>
    <p class="tabpanel-text">Thomas, G. (2015) &lsquo;A beginner&rsquo;s guide to building a simple database-backed Flask website on PythonAnywhere&rsquo;, <em>PythonAnywhere News</em>, 13 Nov, available: <a href="https://blog.pythonanywhere.com/121/">https://blog.pythonanywhere.com/121/</a> [accessed 9 Apr 2018].</p>
    <p class="tabpanel-text">Tutorials Point (2018a) &lsquo;Flask framework overview&rsquo;, <em>Flask Framework online training</em>, available: <a href="https://youtu.be/iAa3KEOgCig">https://youtu.be/iAa3KEOgCig</a> [accessed 1 Apr 2018].</p>
    <p class="tabpanel-text">Tutorials Point (2018b) &lsquo;Learn Flask Web framework&rsquo;, <em>Tutorials Point</em>, available: <a href="https://www.tutorialspoint.com/flask/index.htm">https://www.tutorialspoint.com/flask/index.htm</a> [accessed 1 Apr 2018].</p>
    <p class="tabpanel-text">Udacity (2014a) &lsquo;Web applications - Web development&rsquo;, <em>Web development CS253</em> [video], available: <a href="https://youtu.be/_E8qXBHI4cg">https://youtu.be/_E8qXBHI4cg</a> [accessed 25 Mar 2018].</p>
    <p class="tabpanel-text">Udacity (2014b) &lsquo;Web development CS253&rsquo;, <em>Udacity courses</em>, available: <a href="https://classroom.udacity.com/courses/cs253">https://classroom.udacity.com/courses/cs253</a> [accessed 25 Mar 2018].</p>
    <p class="tabpanel-text">University of Sydney (1999) &lsquo;What is a URL?&rsquo;, <em>Web topics tutorial</em>, available: <a href="https://www.ee.usyd.edu.au/tutorials_online/topics/itopics/url.html">https://www.ee.usyd.edu.au/tutorials_online/topics/itopics/url.html</a> [accessed 28 Mar 2018].</p>
    <p class="tabpanel-text">Young, S. (2015) &lsquo;Web application architecture&rsquo;, <em>On coding</em>, 14 Jan, available: <a href="https://medium.com/on-coding/web-application-architecture-bca09ce0fabe">https://medium.com/on-coding/web-application-architecture-bca09ce0fabe</a> [accessed 26 Mar 2018].</p>
</div>
{% endblock %}