{% extends 'layouts/main.html' %}

{% block body %}
  <h1 class="display-5">Useful resources</h1>
  <p>Resources to support your learning are listed here. These resources are arranged according to the lessons they are mentioned in.</p>
<hr>
<div class="container">
  <div class="row">
    <h3>Lesson 1: Anatomy of a basic Web application</h3>
      <p>Ruslan Spivak&rsquo;s (2015) <a href="https://ruslanspivak.com/archives.html">blog</a> is great resource for learning about Web servers and other advanced concepts. Ruslan&rsquo;s blog is well written and illustrated.&nbsp; </p>
      <p>Udacity&rsquo;s (2014b) <a href="https://classroom.udacity.com/courses/cs253">Web Development CS253</a> is a highly recommended (free) course about building Web applications and more. The course is online at:&nbsp; (user registration required).</p>
      <p>Developer Stephen Young&rsquo;s (2015) <a href="https://medium.com/on-coding/web-application-architecture-bca09ce0fabe">blog post</a> provides useful descriptions of different Web application architectures.</p>
  </div>
  <hr>
  <div class="row">
    <h3>Lesson 2: Introducing Web application frameworks and Flask</h3>
    <p>The <a href="http://flask.pocoo.org/">Flask Website</a>, created by Flask&rsquo;s developer Armin Ronacher (2018), is an excellent place to begin learning more about the Flask Web framework.<a href="http://flask.pocoo.org/. ">. </a></p>
    <p>Tutorials Point (2018b) provide a <a href="https://www.tutorialspoint.com/flask/index.htm">free course on Flask Web development</a> with practical tutorials, useful resources and videos.</p>
  </div>
  <hr>
  <div class="row">
    <h3>Lesson 6: Running your Flask application</h3>
    <p>You can learn more about Flask's built-in, development Web server from the ' <a href="http://flask.pocoo.org/docs/0.12/deploying/">Deployment options</a> ' section of the online Flask documentation (Ronacher 2018b).</p>
  </div>
  <hr>
  <div class="row">
    <h3>Lesson 7: Overview of Web application deployment</h3>
    <p>The section on Web application deployment in Matt Makai&rsquo;s ebook, <em>Full stack Python</em> (2018), provides a useful overview of different types of deployment. The book section also contains links to online resources related to deployment.&nbsp; An <a href="https://www.fullstackpython.com/deployment.html">e-book version</a> is also available. &nbsp;</p>
    <p>Kenneth Reitz and Tanya Schlusser&rsquo;s book, The Hitchhiker&rsquo;s Guide to Python (2016a), offers useful descriptions of various PaaS and Web hosting service providers. An <a href="http://docs.python-guide.org/en/latest/">e-book version</a> (2016b) of this book is also available online.</p>
  </div>
  <hr>
  <div class="row">
    <h3>Lesson 8: Deploying your Flask application to PythonAnywhere</h3>
    <p>If you have problems using PythonAnywhere, check the PythonAnywhere (2018) <a href="https://help.pythonanywhere.com/pages/ ">help pages</a> for support.</p>
    <p>The PythonAnywhere developers maintain a blog. The post &lsquo;<a href="https://blog.pythonanywhere.com/121/">A beginner&rsquo;s guide to building a simple database-backed Flask website on PythonAnywhere</a>&rsquo; (Thomas 2015) is particularly useful to beginners.&nbsp; The blog is a great resource for learning more about the features of PythonAnywhere.</p>
    <p>Microsoft&rsquo;s (2016) support website provides a <a href="https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files">useful guide to creating ZIP files in Windows</a>. &nbsp;</p>
  </div>
</div>
{% endblock %}